{% load static %}
<!DOCTYPE html>
<html lang="en" class="page">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block icon %}
        {% endblock %}

        {% block style %}
        {% endblock %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
        <script src="{% static '/main/src/js/about.js' %}"></script>
        <script src="{% static '/main/src/js/link.js' %}"></script>
        <script src="{% static '/main/src/js/telegram.js' %}"></script>
        {% block page_title %}
        {% endblock %}
    </head>

    <body class="page__body">
        <a href="https://t.me/technohub_helper_bot" class="telegram-link">
            <img href="{% static 'main/src/images/telegram-logo.svg' %}">
        </a>

        <header class="page__header header">
            <div class="header__content">
                {% block logo %}
                {% endblock %}
                <div class="header__router">
                    {% block links %}
                    {% endblock %}
                </div>

                {% block menu %}
                {% endblock %}

                {% block aside %}
                {% endblock %}
            </div>
        </header>

        <main class="main">
        {% block main %}
        {% endblock %}
        </main>
    </body>
    <footer class="footer">
        {% block footer_menu %}
        {% endblock %}
    </footer>
</html>
