{% extends 'main/work.html' %}
{% load static %}

{% block icon %}     
    <link rel="icon" href="{% static 'main/src/images/icon-electricity.svg' %}" type="image">
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/src/styles/electricity_style.css' %}">
{% endblock %}

{% block page_title %}
    <title>Робота | Електрика</title>
{% endblock %}

{% block logo %}
    <img src="{% static 'main/src/images/header-logo-electricity.svg' %}" alt="" class="header__logo">
{% endblock %}

{% block links %}
    <a href="/" class="header__router-link header__router--plumbing">Сантехніка</a>
    <a href="/electricity/" class="header__router-link header__router--electricity">Електрика</a>
{% endblock %}

{% block greetings %}
    <img src="{% static 'main/src/images/work-electricity.jpg' %}" alt="" class="greetings__content-image">
{% endblock %}            

{% block form %}
    <form class="form" action="{% url 'work_electricity' %}" method="post">
{% endblock %}

{% block footer_work %}
    <li class="nav__item">
        <a href="{% url 'work_electricity' %}" class="nav__link">Робота</a>
    </li>
{% endblock %}
