{% extends 'main/home.html' %}
{% load static %}

{% block icon %}     
    <link rel="icon" href="{% static 'main/src/images/icon-plumbing.svg' %}" type="image">
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/src/styles/plumbing_style.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static '/main/src/js/index.js' %}"></script>
{% endblock %}

{% block page_title %}
    <title>Головна | Сантехніка</title>
{% endblock %}

{% block logo %}
    <img src="{% static 'main/src/images/header-logo-plumbing.svg' %}" alt="" class="header__logo">
{% endblock %}

{% block links %}
    <a href="/" class="header__router-link header__router--plumbing">Сантехніка</a>
    <a href="electricity/" class="header__router-link header__router--electricity">Електрика</a>
{% endblock %}

{% block work %}
<li class="nav__item">
    <a href="{% url 'work_plumbing' %}" class="nav__link">Робота</a>
</li>
{% endblock %}

{% block aside_work %}
    <li class="nav__item">
        <a href="{% url 'work_plumbing' %}" class="nav__link">Робота</a>
    </li>
{% endblock %}

{% block form %}
    <form class="form" action="{% url 'main_plumbing' %}" method="post">
{% endblock %}
                
{% block animation%}
    <img src="{% static 'main/src/images/animation-plumbing-1.jpg' %}" alt="" class="about__content-slide">
    <img src="{% static 'main/src/images/animation-plumbing-2.jpg' %}" alt="" class="about__content-slide">
    <img src="{% static 'main/src/images/animation-plumbing-3.jpg' %}" alt="" class="about__content-slide">
    <img src="{% static 'main/src/images/animation-plumbing-4.jpg' %}" alt="" class="about__content-slide">    
{% endblock %}
