.services {
    @include contentPaddingInline;

    &__content { 
        background-color: $main-color;
        border-radius: 24px;
        @include grid;
        @include onDesktop {
            justify-content: space-around;
        }
    }

    &__service {
        border-radius: 24px;     
        margin: 16px;
        padding: 16px;
        background-color: #fff; 
        display: flex;
        flex-direction: column;
    
        justify-content:center;
        align-items: center;


        &-title {
            @include TextSizing;
        }
        &-item {
            @include listTextSizing;
        }

        &-list {
            list-style: none;
        }
        &-price {
            @include TextSizing;
            font-weight: bold;
        }
        &-logo {
            width: 50%;
            height: 50%;
            margin-bottom: 15%;
            border: 3px solid $accent-color;
            background-color: #fff;
            border-radius: 50%;
        }   
    }
}