.faq {
    @include contentPaddingInline;

    &__content {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $main-color;
        border-radius: 24px;
        
        &-title {
            @include listTextSizing;
            margin-top: 5%;
            margin-bottom: 5%;
            
        }

        &-details {
            width: 80%;
            background-color: #fff;
            border-radius: 24px;
            @include details(false);
        }
        &-inner {
            @include listTextSizing;
        }
        
        &-summary {
            @include listTextSizing;
            &::marker {
                content: none;
            }
            &::before {
                content: "+";
                color: $accent-color;
                margin-right: 16px;
            }
        }

        &-details[open] &-summary ~ &-inner {
            font-weight: bold;
            @include details(true);
            animation: open .5s ease-in-out;
        }

        @keyframes open {
            0% {opacity: 0; margin-left: -20px}
            100% {opacity: 1; margin-left: 0px}
        }

        &-details[open] &-summary::before {
            content: "-";
        }
    }
}