.telegram-link {
    display: none;
    position: fixed;
    bottom: 0px;
    left: 0px;
    @include linkSizing;
    background-image: url('./../images/telegram-logo.svg');
    color: #fff;
    text-decoration: none;
    z-index: 999;
}
