.menu {
    &__icon {
        @include onDesktop {
            display: none;
        }
    }

    &--mobile {
        display: none;
        @include contentPaddingInline;
        background-color: white;
        
        &__nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-self: center;
        }
    }

    &__button--close {
        align-self: center;
    }
    &-empty {
        width: 20%;
    }
}

.header .menu {
    &__nav {
        display: none;
        @include onDesktop {
            display: block;
        }
    }
}

.footer .menu {
    &__nav {
        display: block;
    }
}